body {
    background: lightblue;
}

.home-container{
    text-align: center;
}
.search-bar {
    margin: 20px 0;
}
.property-item {
    border: 1px solid #dd;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width:30px;
}
.property-image {
    max-width: 100%;
    height: auto;
}
.call-to-action .btn {
    display: inline block;
    padding: 10px 20px;
    background-color; #007BFF;
    color: #fff;
    text-decoration: none;
    margin: 10px;
}





